body{
    background-image: url(./images/back.png);
    font-family: 'StratosSkyeng', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-position: bottom;
}

.header{
    height: 100vh;
    background-image: url(./images/head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content{
    padding-top: 75px ;
    border-top: 25px solid #000;
    position: relative;
}

#table{
    width: 1200px;
    height: 100vh;
    border-collapse: collapse;
    margin: 0 auto
}

tr, td {
    border: 25px solid white;
    text-align: center;
    vertical-align: bottom;
}

img {
    width: 560px;
}

p {
    background-color: white;
    width: max-content;
    font-size: 30px;
    border-radius: 30px;
    margin: 23px auto;
    padding: 10px 30px;
    text-decoration: none;
}

a{
    display: block;
    background-color: #894AFF;
    color: #fff;
    padding: 11px 30px;
    border-radius: 50px;
    font-size: 38px;
    position: absolute;

    bottom: 75px;
    right: 80px ;
}